In [98]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [99]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [100]:
movies = movies.merge(credits,on='title') #merging the two dataframes on the basis of title

#Now taking only the columns that are required
# budget
# homepage
# id
# original_language
# original_title
# popularity
# production_comapny
# production_countries
# release-date(not sure)
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [101]:
#This function extracts name values from the string tag - Genres,Keywords,Cast,Crew
import ast
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L 

#Now dropping null values
movies.dropna(inplace=True)

#Applying the above function on the columns
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [102]:
#This function extracts name values from the cast column but of the top 3 cast members
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L 

movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [103]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3]) #taking only the top 3 cast members

In [104]:
#This function extracts name values from the crew column but of the director
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L 

movies['crew'] = movies['crew'].apply(fetch_director)

movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1892,13374,Ice Princess,"With the help of her coach, her parents, and t...","[Drama, Comedy, Family]","[sport, figure skating, teenage girl, teen mov...","[Michelle Trachtenberg, Joan Cusack, Amy Stewart]",[Tim Fywell]
2391,31166,I Come with the Rain,"Kline, a former Los Angeles police officer tur...","[Thriller, Drama]",[],"[Josh Hartnett, Elias Koteas, Takuya Kimura]",[Tran Anh Hung]
2676,319910,Broken Horses,"The bonds of brotherhood, the laws of loyalty,...","[Thriller, Mystery, Drama, Crime]",[],"[María Valverde, Vincent D'Onofrio, Thomas Jane]",[Vidhu Vinod Chopra]
318,9408,Surf's Up,Cody is a surfing penguin from Shiverpool who ...,"[Animation, Comedy, Family]","[sea, world cup, surfer, wave, surfboard, gian...","[Shia LaBeouf, Jeff Bridges, Zooey Deschanel]","[Ash Brannon, Chris Buck]"
825,9315,Flightplan,"A claustrophobic, Hitchcockian thriller. A ber...","[Thriller, Drama, Mystery]","[berlin, loss of father, airplane, baby-snatch...","[Jodie Foster, Peter Sarsgaard, Sean Bean]",[Robert Schwentke]

In [105]:
#This function combines all the values of the columns into a single string and removes the spaces
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [106]:
movies['overview'] = movies['overview'].apply(lambda x:x.split()) #splitting the overview into words

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew'] # Combining all the columns into a single list of tags
new = movies.drop(columns=['overview','genres','keywords','cast','crew']) #Dropping the old columns
new['tags'] = new['tags'].apply(lambda x: " ".join(x)) #Converting the list of tags into a single string
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [107]:
#Applying stemming to the tags
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

new['tags'] = new['tags'].apply(stem) #(Here we removed duplicate words or similar words)

**This is the vectorisation of the tags**

In [108]:
from sklearn.feature_extraction.text import CountVectorizer  #here we are converting the tags into vectors using the CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english') #max_features is the number of words to be considered and stop_words is the list of words to be ignored by the CountVectorizer 
    
vector = cv.fit_transform(new['tags']).toarray() #converting the tags into vectors
features = cv.get_feature_names_out()
print(features[50:90])

['500' '60' '70' '80' 'aaron' 'aaroneckhart' 'abandon' 'abduct'
 'abigailbreslin' 'abil' 'abl' 'aboard' 'abov' 'abus' 'academ' 'academi'
 'accept' 'access' 'accid' 'accident' 'acclaim' 'accompani' 'accomplish'
 'account' 'accus' 'ace' 'achiev' 'acquaint' 'act' 'action' 'actionhero'
 'activ' 'activist' 'activities' 'actor' 'actress' 'actual' 'ad' 'adam'
 'adamsandl']

**Here we are finding the cosine similarity between the tags basically calculating the thetha angle between the two vectors**

In [109]:

from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
print(similarity)
#new[new['title'] == 'The Lego Movie'].index[0]
def recommend(movie):  #This function recommends the top 5 movies based on the cosine similarity between the tags of the
    index = new[new['title'] == movie].index[0] #This is the index of the movie in the dataframe
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1]) #This sorts the movies based on the cosine similarity between the tags of the movie and the other movies in the dataframe , and lambda x: x[1] sorts the movies based on the cosine similarity in descending order
    for i in distances[1:6]:  #This prints the top 5 movies based on the cosine similarity between the tags of the movie
        print(new.iloc[i[0]].title)
        
    
recommend('Batman Begins')

[[1.         0.08346223 0.0860309  ... 0.04499213 0.         0.        ]
 [0.08346223 1.         0.06063391 ... 0.02378257 0.         0.02615329]
 [0.0860309  0.06063391 1.         ... 0.02451452 0.         0.        ]
 ...
 [0.04499213 0.02378257 0.02451452 ... 1.         0.03962144 0.04229549]
 [0.         0.         0.         ... 0.03962144 1.         0.08714204]
 [0.         0.02615329 0.         ... 0.04229549 0.08714204 1.        ]]
The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

**What if we want to save the dataframe and the similarity matrix into a pickle file?What is pickle?**

The pickle module in Python is used for serializing and storing objects into files. Serialization is the process of converting an object into a format that can be stored or transmitted, and in this case, the objects being serialized are the dataframe and the similarity matrix.<br> <br>
The pickle.dump() function is employed to serialize and store the dataframe and the similarity matrix into separate pickle files. The first argument specifies the object to be serialized, and the second argument is the file object obtained by opening the desired file in write-binary (wb) mode. This mode indicates that the data is being written in binary mode, and the objects are returned in a bytes object.<br> <br>
By using pickle.dump(), the dataframe and the similarity matrix are stored in binary format in the respective pickle files, allowing for easy retrieval and deserialization of the objects at a later time.

In [112]:
import pickle

pickle.dump(new.to_dict(),open('movie_dict.pkl','wb')) #Here we are dumping the dataframe into a pickle file
pickle.dump(similarity,open('similarity.pkl','wb')) #Here we are dumping the similarity matrix into a pickle file